{% extends 'dashboards/base_dashboard.html' %} 

{% block sidebar_items %}
    <li class="nav-item">
        <a class="nav-link bg-light" href="{% url 'course_list' %}">
        <span><i class="bi bi-columns-gap h5"></i></span> 
        Courses
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'theme_list' %}">
        <span><i class="bi bi-building h5"></i></span> 
        Themes
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'instructors_list' %}">
      <span><i class="bi bi-person-square h5"></i></span> 
      Instructors
      </a>
  </li>
{% endblock sidebar_items %}
{% block main_content %}  
<h4>Courses</h4>

<div class="container bg-white p-3 mt-2">

  <div class="row mb-3">
    <h5 class="col-9">Courses</h5>
    <div class="col-3 justify-content-end">
      <a class="btn btn-primary" href="{% url 'create_course' %}"><i class="bi bi-plus-lg fs-6"></i> Add Course</a>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Course Code</th>
          <th scope="col">Corse Name</th>
          <th scope="col">Instructor</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr scope="row">
            <td>{{ course.pk }}</td>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ coruse.instructor }}</td>
            <td>
              <a href="{% url 'course_detail' course.pk %}" class="m-3"><i class="bi bi-eye"></i></a>
              <a href="{% url 'update_course' course.pk %}" class="m-3"><i class="bi bi-pencil-square"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock main_content %}
