{% extends 'base.html' %}

{% block content %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#practiceModal">
    Practice
</button>


<!-- Practice Modal -->
<div class="modal fade" id="practiceModal" tabindex="-1" aria-labelledby="practiceModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <form method="post" action="{% url 'practice_questions' %}">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="practiceModalLabel">Practice Questions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="num_questions" class="form-label">Number of Questions:</label>
                    <input type="number" class="form-control" id="num_questions" name="num_questions" min="1" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Start Practice</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}

