{% extends 'dashboards/base_dashboard.html' %} 

{% block sidebar_items %}
    <li class="nav-item">
        <a class="nav-link bg-light" href="{% url 'course_list' %}">
        <span><i class="bi bi-columns-gap h5"></i></span> 
        Courses
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'theme_list' %}">
        <span><i class="bi bi-building h5"></i></span> 
        Themes
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'instructors_list' %}">
      <span><i class="bi bi-person-square h5"></i></span> 
      Instructors
      </a>
  </li>
{% endblock sidebar_items %}

{% block main_content %}
  <h4>Theme Detail</h4>

  <div class="container bg-white p-3 mt-2">
    <div class="row">
      <div class="col">
        <h5>Theme Details</h5>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><strong>ID:</strong></td>
              <td>{{ theme.pk }}</td>
            </tr>
            <tr>
              <td><strong>Theme Name:</strong></td>
              <td>{{ theme.name }}</td>
            </tr>
            <tr>
              <td><strong>Department:</strong></td>
              <td>{{ theme.department }}</td>
            </tr>
            <tr>
              <td><strong>Course:</strong></td>
              <td>{{ theme.course }}</td>
            </tr>
            <!-- Add more details about the theme if needed -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock main_content %}
